
@font-face{

	font-family: main;
	src: url('assets/typefaces/Akzidenz-grotesk-roman_0.ttf');

}

@font-face{

	font-family: main;
	font-weight: 700;
	src: url('assets/typefaces/Akzidenz-grotesk-bold_0.ttf');

}

@font-face{

	font-family: main;
	font-weight: 900;
	src: url('assets/typefaces/Akzidenz-grotesk-black_0.ttf');

}

@font-face{

	font-family: main;
	font-weight: 300;
	src: url('assets/typefaces/Akzidenz-grotesk-light_0.ttf');

}


@font-face{

	font-family: mainserif;
	font-weight: 500;
	src: url('assets/typefaces/GARA.TTF');

}

@font-face{

	font-family: mainserif;
	font-weight: 700;
	src: url('assets/typefaces/GARABD.TTF');

}

@font-face{

	font-family: mainserif;
	font-weight: 500;
	font-style: italic;
	src: url('assets/typefaces/GARAIT.TTF');

}

@font-face{

	font-family: icons;
	font-weight: 500;
	font-style: italic;
	src: url('assets/typefaces/IcoMoon-Free.ttf');

}

::selection{

	background-color: #9df9bc;

}


body{
/*
	background-color: #5EB0CC;
*/

	margin: 0;
	padding: 0;

	overflow-x: hidden;

	font-family: main;

	background-color: rgb(230,230,230);

	line-height: 18pt;

	overflow-y: hidden;

	cursor: default;

}

p{

	margin: 0;
}

a{

	margin: 0;

	text-decoration: none;

	color: black;
	background-color: #6acc8b;
	text-decoration: underline;

	transition: color 0.5s;

	 /*cursor:pointer; */ cursor:pointer;

}

a:hover{

	color: #43965f;

}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cursorreplacement{

	position: absolute;

	opacity: 0;

	transition: transform 0.5s;
	transform-origin: 50% 50%;

	pointer-events: none;

	z-index: 999;

	width: 15px;
	height: 15px;

	border: black 1px solid;
	border-radius:50%;

	display: none;

}

#clickindicator{

	position: absolute;

	opacity: 0;

	transition: transform 1s, opacity 1s;
	transform-origin: 50% 50%;

	pointer-events: none;

	z-index: 999;

	width: 15px;
	height: 15px;

	border: black 0.5px solid;
	border-radius:50%;

}





/* TEXT ANIMATION 1 STUFF */

.textanimation1frame:not(.textanimation1masterframe){

	position: absolute;

}

.textanimation1masterframe{
	opacity: 0;
}

/* SOLITAIRE CSS */

.solitairepath{

	position: absolute;

	pointer-events: none;

}

/* GREETING */

#header{

	position: relative;

	height: 50vh;
	width: 100%;

	cursor: pointer;

}

#greetings{

	position: absolute;

	font-weight: 900;
	font-size: 32pt;

}

.greetings2solitairepath{

	font-weight: 900;
	font-size: 18pt;
	color: black;

	border: black 1px solid;
	background-color: rgb(230,230,230);

	width: 80px;
	height: 100px;

	overflow: hidden;

}

.greetings2solitairemaster img{

	opacity: 0;
	transition: opacity 1s;

	z-index: 998;

}

.greetings4solitairepath{

	font-size: 10pt;

}

.greetingssolitairepath{

	position: absolute;

	color: black;
	-webkit-text-fill-color: rgb(230,230,230); /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

	font-weight: 900;
	font-size: 32pt;

}

.greetingssolitairemaster{

	color: black;

	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: rgb(230,230,230);

}

.greetings3solitairepath{

	position: absolute;

	color: black;
	-webkit-text-fill-color: rgb(230,230,230); /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

	font-weight: 900;
	font-size: 32pt;

}

.greetings3solitairemaster{

	color: black;

	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(230,230,230);

}

#greetingswrapper{

	position: absolute;

	left: 0;
	top: 0px;
	right: 0;

	height: 100%;

}

#greetings2wrapper{

	position: absolute;

	left: 0;
	top: 0px;
	width: 100%;

	height: 90%;

}


@media screen and (max-width: 800px)
{

	.greetingssolitairepath{

		font-size: 20pt;

	}

	.greetings2solitairepath{

		font-size: 16pt;

	}

	.greetings3solitairepath{

		font-size: 20pt;

	}

	.greetings4solitairepath{

		font-size: 10pt;

	}

	#greetingswrapper{

		height: 60vh;
	}

}

/* TOP BAR */

#topbar{

	position: fixed;
	top: 0;
	left: 0;
	right: 0;


	z-index: 99999999;

}

#infobartoptext{

	width: 100%;
	max-width: 32em;

	position: fixed;
	top: 20px;

	font-size: 12pt;

	opacity: 0;

	left: 90px;

}

#backtotop{

	position: fixed;
	top: 20px;
	right: 90px;

	font-size: 12pt;

	opacity: 0;
	transform: translateX(100px);
	pointer-events: none;
	transition: transform 1s, opacity 1s;

	 /*cursor:pointer; */ cursor:pointer;

	 text-align: right;

}

#backtotop p{

	transition: transform 0.5s;

}

#backtotop:hover p{

	transform: scale(1.1);

}

/* TOP INFO */

#info{

	float: left;

	position: relative;

	margin-top: 150px;

	width: 100%;

	padding: 0 90px;
	box-sizing: border-box;

}

#infotextrow1{

	width: 100%;

	opacity: 0;
	transform: translate(-150px);
	transition: opacity 1s, transform 1s;

	font-size: 12pt;

	float: left;

}

#infotextrow1 div{

	margin-bottom: 60px;

}

#infotoptext{

	float: left;

}

#infotoptext2{

	float: right;

	padding-top: 5px;

}

#infotextrow2{

	float: left;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;

	opacity: 0;
	transform: translate(-200px);
	transition: opacity 1s, transform 1s;	

	font-size: 12pt;

}

.infoleft{

	display: inline-block;
	vertical-align: top;

	width: 120px;

	font-weight: 700;

}

#infotextrow1col2 .infoleft{

	width: 100px;

}

.inforight{

	display: inline-block;
	vertical-align: top;

	width: calc(100% - 120px);

}

@media screen and (max-width: 900px)
{

	#info{

		padding: 0 40px;

	}

	#infotextrow2{

		grid-template-columns: 1fr 1fr;

	}

	#infotextrow2 > :first-child{

		grid-column: span 2;

	}

}

@media screen and (max-width: 700px)
{

	#infotextrow2 > *{

		grid-column: span 2;

	}

}


/* break */

.break{

	float: left;

	width: 100%;

	height: 120px;

	padding-bottom: 50px;

	box-sizing: content-box;

	cursor: pointer;

	margin-bottom: 100px;

}

#break1{

	margin-top: 20px;

}

#break1text{

	display: none;

}

#break1text2{

	display: none;

}

.break1textsolitairepath{

	width: 40px;
	height: 40px;

	border: black 1px solid;

	background-color: rgb(230,230,230);


}

.break1text2solitairepath{

	font-size: 10pt;

}

#break2text{

	display: none;

}

.break2textsolitairepath{

	width: 7px;
	height: 50px;

	border: black 1px solid;

	background-color: rgb(230,230,230);


}

/* work */

.workitem
{

	float: left;

	position: relative;
	
	padding: 0 90px;

	box-sizing: border-box;

	width: 100%;

}

.workitemlink{

	position: absolute;

	top: 0;
	right: 100px;

	font-size: 26pt;
	font-weight: 700;

	transition: transform 0.5s;

}

.workitemlink:hover{

	transform: scale(1.1);

}


/* headers */

.headingwrapper{

	width: 100%;

}

.heading{

	font-weight:900; 
	font-size: 26pt;

}

/* work info */

.workinfo{

	display: grid;

	grid-template-columns: 1fr 1fr 1fr;

	grid-gap: 20px;

}




/* REALFAKENEWS */

#newsitems{

	height: 300px;

	position: relative;

	left: -200px;
	top: 20px;
	width: 200%;

	cursor: pointer;

	text-transform: lowercase;

}

.fakenewsitem{

	position: absolute;
	width: 300px;

	background-color: black;
	border: #9effdd solid 2px;
	box-shadow: 0px 0px 0 #9effdd;

	color: white;

	padding: 20px;

	box-sizing: border-box;

	font-size: 16pt;
	font-weight: 700;

	opacity: 0;
	transition: opacity 0.5s, box-shadow 0.5s, transform 0.5s;

}

/*SPACE TYPE*/

#spacetypeimages{

	height: 400px;

	position: relative;

	left: -200px;
	top: -50px;

}

.spacetypeimage{

	position: absolute;

	background-size: cover;
	background-position: 50% 50%;

	width: 300px;
	height: 200px;

	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;

}









#footer{

	width: 10px;
	height: 200px;

	float: left;

}
