@font-face {
  font-family: akzidenz-grotesk;
  src: url("assets/typefaces/Akzidenz-grotesk-roman_0.ttf");
}

@font-face {
  font-family: akzidenz-grotesk;
  font-weight: 700;
  src: url("assets/typefaces/Akzidenz-grotesk-bold_0.ttf");
}

@font-face {
  font-family: akzidenz-grotesk;
  font-weight: 900;
  src: url("assets/typefaces/Akzidenz-grotesk-black_0.ttf");
}

@font-face {
  font-family: akzidenz-grotesk;
  font-weight: 300;
  src: url("assets/typefaces/Akzidenz-grotesk-light_0.ttf");
}

@font-face {
  font-family: garamond;
  font-weight: 500;
  src: url("assets/typefaces/GARA.TTF");
}

@font-face {
  font-family: garamond;
  font-weight: 700;
  src: url("assets/typefaces/GARABD.TTF");
}

@font-face {
  font-family: garamond;
  font-weight: 500;
  font-style: italic;
  src: url("assets/typefaces/GARAIT.TTF");
}

::selection {
  background-color: white;
}

body {
  /*
	background-color: #5EB0CC;
*/

  margin: 0;
  padding: 0;

  font-family: akzidenz-grotesk;

  background-color: black;

  line-height: 18pt;

  overflow: hidden;
}

#wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  overflow: hidden;
}

p {
  margin: 0;
}

a {
  margin: 0;

  text-decoration: underline;

  color: white;

  transition: color 0.5s;
}

a:hover {
  color: gray;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* TEXT ANIMATION 1 STUFF */

.textanimation1frame:not(.textanimation1masterframe) {
  position: absolute;
}

.textanimation1masterframe {
  opacity: 0;
}

/* SOLITAIRE CSS */

.circlepath {
  position: absolute;

  color: white;
}

/* GREETING */

#header {
  position: relative;

  height: 100vh;
  width: 100%;

  perspective: 5000px;
  transform-style: preserve-3d;

  left: -50px;
  top: -50px;

  transform: scale(0.5);
}

.orbitcirclepath {
  position: absolute;

  color: white;

  font-family: serifakzidenz-grotesk;

  font-weight: 500;
  font-size: 18pt;

  transform-style: preserve-3d;

  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;

  color: white;
}

#orbitwrapper {
  position: absolute;

  left: 0;
  top: 0px;
  right: 0;

  height: 90%;

  transform: rotateX(-30deg) rotateZ(-20deg);
  transform-origin: 50% 50%;

  transform-style: preserve-3d;
}

#centre {
  position: absolute;

  width: 400px;
  height: 400px;

  left: calc(50% - 200px);
  top: calc(50% - 200px);

  border-radius: 50%;

  background-color: rgb(205, 100, 100);

  text-shadow: 0px 0px 50px black;

  font-size: 168pt;
  letter-spacing: -15;
  font-weight: 900;

  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

/*UI*/

#openpanels {
  position: fixed;

  bottom: 0;
  left: 0;

  color: white;

  padding: 10px 30px;

  margin: 20px;

  transition: opacity 0.5s;

  font-size: 12pt;

  background-color: rgba(50, 50, 50, 0.5);

  border-radius: 2px;

  z-index: 999999;
}

.openpanelbutton {
  display: inline-block;
}

.openpanelicon {
  display: inline-block;
}

.openpaneltext {
  display: inline-block;
}

#link {
  position: absolute;

  right: 50px;
  bottom: 38px;

  color: white;

  transition: opacity 0.5s;

  z-index: 9999;
}

@media screen and (max-width: 650px) {
  #link {
    top: 35px;
    bottom: auto;
  }
}

.uipanel {
  position: fixed;

  bottom: 0px;

  color: white;

  box-sizing: border-box;

  width: 350px;

  padding: 20px;

  background-color: rgba(50, 50, 50, 0.5);

  border-radius: 10px;

  margin: 20px;

  left: 0px;

  font-size: 10pt;

  opacity: 0;
  transform: translateY(200px);
  pointer-events: none;
  transition: opacity 0.5s, transform 0.5s;
  transform-style: flat;

  overflow-y: auto;
  max-height: 100%;

  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);

  z-index: 999;
}

@media screen and (max-width: 500px) {
  .uipanel {
    margin: 25px;

    width: calc(100vw - 50px);

    top: 0;

    background-color: rgba(100, 100, 100, 0.35);

    border-radius: 0;
  }

  #openpanels {
    margin: 0;

    padding: 20px 50px;

    left: 0;
    right: 0;
  }
}

.uiobject {
  display: inline-block;

  width: 100%;
  padding: 15px;

  box-sizing: border-box;

  margin: 0 0 0 0;

  float: left;
}

.uiobjectmini {
  width: 50%;
}

.uiobject select {
  width: 100%;
}

.uiobjectname {
  float: left;
}

.uiobjectvalue {
  float: right;
}

.uiobjectvalue p {
  display: inline-block;
}

.uiobject input {
  float: left;

  width: 100%;
}

.uibutton {
  cursor: pointer;
  transition: all 0.5s;

  display: inline-block;

  font-weight: 900;
  font-size: 18pt;

  width: auto;

  padding: 10px;
}

.uibutton p {
  opacity: 0.8;
  transition: all 0.5s;

  width: auto;

  font-family: icons;
}

.uibutton:hover p {
  opacity: 1;
}

#addcircleui {
  display: none;
}

.uiheader {
  margin-bottom: -20px;
}

hr {
  border: 0.5px solid gray;

  margin: 15px;

  transform: translateY(15px);
}

input[type="text"], select {
  background-color: white;
  font-family: akzidenz-grotesk;
  padding: 10px;
  border-radius: 9px;

  outline: none;
  border: 0;

  margin-top: 5px;
}

select:active {
  color: black;
}

select option {
  color: black;
}

select option:hover {
  background-color: gray;
}

input[type="range"] {
  height: 40px;
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;

  background-color: transparent;

  cursor: pointer;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: gray;
  border-radius: 0px;
  border: none;

  margin: 10px 0;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;

  transition: transform 0.5s;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: gray;
  border-radius: 0px;
  border: 1px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;

  transition: transform 0.5s;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: gray;
  border: none;
  color: transparent;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;

  border: none;

  transition: transform 0.5s;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(2);
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(2);
}

input[type="range"]:active::-ms-thumb {
  transform: scale(2);
}

@media screen and (max-width: 600px) {
  select {
    height: 50px;
  }

  input[type="text"] {
    height: 50px;

    padding: 2px 10px;
  }

  input[type="range"] {
    height: 70px;
  }

  .uipanel .uibutton {
    padding: 30px;
  }
}
